# Project exclude paths
/cmake-build-debug/
/cmake-build-release/
.history
.clang-format
**/.DS_Store
data/
simulation/**/*.svg
simulation/**/*.py
simulation/**/*.csv
simulation/**/*.0
simulation/**/*.zip
.idea/